body {
    font-weight:400;
    color:#FFF;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400;
}

h1 {
    font-size:80px;
}
h1.font-70 {
    font-size:70px;
}

h2 {
    font-size:64px;
}
h3 {
    font-size:55px;
}

h4 {
    font-size:36px;
}
h5 {
    font-size:30px;
}
h6 {
    font-size:24px;
}
h6.font-20 {
    font-size:20px;
}

#content p {
    color:#727779;
    font-size:18px;
    font-family: "Gentium Book Basic", "Open Sans";
    line-height:1.5;
}
.text-light-black {
    color:#727779;
}

h1.gentium, h2.gentium, h3.gentium, h4.gentium, h5.gentium, h6.gentium {
    font-family: "Gentium Book Basic", "Open Sans";
}
h4.text-shadow {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.91);
}
#below-nav-bar {
    height:25px;
    background: #A7BB03;
    position:relative;
    z-index:1;
}

.box-shadow {
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
}

.text-white, .slider-caption:not(.dark) h2 {
    color:#FFF;
}

.slider-caption h2 {
    text-transform:none;
}

.text-dark-blue {
    color:#1344E1;
}
.phone {
    font-size:40px;
    color:#EFF9A5;
}
.text-green {
    color:#EFF9A5;
}
.text-orange {
    color:#FF7A00;
}
.text-light-blue {
    color:#00B5FF;
}
.text-light-green {
    color:#A7BB03;
}
.lh15 {
    line-height:15px;
}
.lh55 {
    line-height:55px;
}
.slider-caption.slider-caption-center {
    max-width:100%;
}
.fa-star {
    color:#FFD700;
}
.border-left-white {
    border-left:1px solid #FFF;
}
.background-white {
    background:#FFF;
}

#primary-menu ul li:hover > a {
    text-decoration:underline;
}
#primary-menu > ul > li.current:hover > a {
    color:#FF7A00;
}
#primary-menu > ul > li:nth-child(2) > a {
    color:#00B5FF;
}
#primary-menu > ul > li:nth-child(3) > a {
    color:#A7BB03;
}
.font-24 {
    font-size:24px;
}
#extra-top-border {
    background:#00B5FF;
    position:absolute;
    width:100%;
    height:5px;
    z-index:999;
}
#header.full-header {
    border:none;
}

/** MOBILE MENU WHEN RESPONSIVE **/

.fa-bars {
    color:#000;
    font-size:35px;
}

.paddingleft-50 {
    padding-left:50px;
}

body.stretched #header.full-header .container {
    min-height:80px;
    border-bottom:1px solid #EEE;
}

.noleftpadding {
    padding-left:0px;
}
/*** MEDIA QUERIES ***/
.picture-caption {
    font-style:italic;
    max-width:350px;
    padding:10px;
}

hr {
    border-top:1px solid #7C7C7C;
}
@media (max-width:991px) {

    body.stretched #header.full-header .container {
        border-bottom:0px;
    }
    .picture-caption {
        margin:0 auto !important;
    }
#section-meet-the-team > div > div.row.section-three-row-one > div.col-md-4 {
        text-align:center;
    }

}
