body {
    font-weight:400;
    color:#FFF;
    font-family: 'Roboto Condensed', sans-serif;
}
.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400;
}
#below-nav {
    background-size:cover;
}
#section-patient-reviews {
    background-size:cover;
}
#copyrights {
    background:#A7BB03;

}
h1 {
    font-size:80px;
}
h1.font-70 {
    font-size:70px;
}

h2 {
    font-size:64px;
}
h3 {
    font-size:55px;
}

h4 {
    font-size:36px;
}
h5 {
    font-size:30px;
}
h5.font-28 {
    font-size:28px;
}
h5.font-26 {
    font-size:26px;
}
h6 {
    font-size:24px;
}
h6.font-20 {
    font-size:20px;
}
.border-radius-8 {
    border-radius:8px;
}
.border-black {
    border:1px solid #979797;
}
#section-phone-slug {
    margin-top:50px;
}
.background-green {
    background:#DBEC5C;
}
.paddingleft-30{
    padding-left:30px;
}
.paddingright-30 {
    padding-right:30px;
}
.border {
    border:1px solid #000;
    height:200px;
}
p {
    color:#727779;
    font-size:18px;
    font-family: "Gentium Book Basic", "Open Sans";
    line-height:1.5;
}
.gentium {
    font-family: "Gentium Book Basic", "Open Sans";

}

.text-light-black {
    color:#727779;
}
p.font-18 {
	font-size:18px;
    color:#7C7C7C;

}
.col-md-3.no-insurance {
    background:#D1E43B;
    padding:15px;
    border-radius:0px 8px 8px 0px;
}
.paddingbottom-15 {
	padding-bottom:15px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0;
  padding: .5em 0;
  min-height: 0;
  color: #00B5FF;
  font-size:21px;
}
.font-21 {
    font-size:21px;
}
.accordian-p {
    color:#333333;
    font-size:16px;
    margin-bottom:10px;
    background
}
#section-visit {
    background-position:center center;
    background-size:cover;
    background-position-y:60px;
    border-bottom:5px solid #00B5FF;
}
#section-visit > .container {
    height:100%;
}

.vertical-align {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}



.ui-accordion-content {
  max-height: 500px;
  transition: .5s max-height ease;
}
.folded {
max-height: 0px;
}
.ui-accordion .ui-accordion-content {
  margin: .5em 0;
  overflow: auto;
  border: none;
  font-size: 95%;
}
.btn {
    border-radius:8px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
h5.border-bottom {
	border-bottom:1px solid #7C7C7C;
}
#section-map-overlay {
    background-size:cover;
    background-position:center center;
    padding:100px 0px;
    background-repeat:no-repeat;
}
.font-grey {
    color:#7C7C7C;
}
#section-no-insurance {
	background:#EFF9A5;
}
.col-md-9.no-insurance {
	background:#FFF;
	padding:15px;
    border-radius:8px 0px 0px 8px;

}
.inner-special {
    padding-left:20px;
    padding-right:20px;
    margin-bottom:30px;
}
.paddingbottom-60 {
    padding-bottom:60px;
}
.inner-special-2 {
    padding:20px;
    background:#FFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius:0px 0px 5px 5px;
    padding-top:0px;
    padding-bottom:10px;
}
.special-1 {
    color:#7ED321;
    border-top:15px solid #7ED321;
}

.special-1 > h4 {
    color:#7ED321;
    line-height:45px;
    margin-bottom:10px;
}
.special-1 > h6 {
    color:#7ED321;
}
.special-2 {
    color:#50E3C2;
    border-top:15px solid #50E3C2;
}
.special-2 > h4 {
    line-height:45px;
    color:#50E3C2;
    margin-bottom:10px;
}
.special-2 > h6 {
    color:#50E3C2;
}
.special-3 {
    color:#1344E1;
    border-top:15px solid #1344E1;
}
.special-3 > h4 {
    color:#1344E1;
    line-height:45px;
    margin-bottom:10px;
}
.special-3 > h6 {
    color:#1344E1;
}
.font-price {
    font-size:86px;
}
.font-dollar {
    font-size:36px;
    position:relative;
    top:-40px;
}
.paddingtop-30 {
    padding-top:30px;
}

.margintop-30 {
    margin-top:30px;
}
.paddingtop-60 {
    padding-top:60px;
}
.font-18 {
    font-size:18px !important;
}
a.text-white {
    color:#FFF !important;
}
a.underline-hover:hover {
    text-decoration:underline !important;
    color:#FFF;
}
.paddingbottom-30 {
    padding-bottom:30px;
}

h1.gentium, h2.gentium, h3.gentium, h4.gentium, h5.gentium, h6.gentium {
    font-family: "Gentium Book Basic", "Open Sans";
}
h4.text-shadow {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.91);
}
h3.text-shadow {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.92);
}
#below-nav-bar {
    height:25px;
    background: #A7BB03;
    position:relative;
    z-index:1;
}

.box-shadow {
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
}

.text-white, .slider-caption:not(.dark) h2 {
    color:#FFF;
}

.slider-caption h2 {
    text-transform:none;
}

.text-dark-blue {
    color:#1344E1;
}
.phone {
    font-size:40px;
    color:#EFF9A5;
}
.text-green {
    color:#EFF9A5;
}

.portfolio-image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
}
.portfolio-image:hover:after {
    opacity:1;
    cursor:pointer;
}
.text-orange {
    color:#FF7A00;
}
.text-light-blue {
    color:#00B5FF;
}
.owl-carousel .owl-nav [class*=owl-] {
    background:#00B5FF;
    color:#FFF;
}
.owl-carousel:hover .owl-nav [class*=owl-] {
    background:#00B5FF;
    color:#FFF;
}
.owl-carousel .owl-nav [class*=owl-]:hover {
    background-color:#00B5FF !important;
}
#section-summer-specials {
    background:#00B5FF;
}
.text-light-green {
    color:#A7BB03;
}
.lh15 {
    line-height:15px;
}
.lh55 {
    line-height:55px;
}
.slider-caption.slider-caption-center {
    max-width:100%;
}
.display-none {
    display:none;
}

.star {
   font-size: 30px;
   color: #FFD700;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
.border-left-white {
    border-left:1px solid #FFF;
}
.border-left-black {
    border-left:1px solid #353C3F;
}
#footer {
    border-top:none;
}
.padding-left-45 {
    padding-left:45px;
}
.padding-right-45 {
    padding-right:45px;
}
.width-100 {
    width:100%;
}
.marginbottom-15 {
    margin-bottom:15px;
}
.text-black {
    color:#353C3F;
}
.form-error {
  color: #D56724;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  display: none;
}

.padding-30 {
    padding:30px;
}
.close {
    border-bottom:0px;
    color:#d9534f;
    opacity:1;
}
.modal-header .close {
    padding-bottom:10px;
}
.paddingbottom-1 {
    padding-bottom:1px;
}

.background-white {
    background:#FFF;
}

#primary-menu ul li:hover > a {
    text-decoration:underline;
}
#primary-menu > ul > li:nth-child(1) > a {
    color:#FF7A00;
}
#primary-menu > ul > li:nth-child(2) > a {
    color:#00B5FF;
}
#primary-menu > ul > li:nth-child(3) > a {
    color:#A7BB03;
}
.bf-spn {
    font-size:18px;
}
.font-24 {
    font-size:24px;
}
#extra-top-border {
    background:#00B5FF;
    position:absolute;
    width:100%;
    height:5px;
    z-index:999;
}
#header.full-header {
    border:none;
}

/** MOBILE MENU WHEN RESPONSIVE **/

.icon-align-justify2 {
    color:#000;
    font-size:35px;
}

.paddingleft-50 {
    padding-left:50px;
}
#oc-portfolio .owl-next, #oc-portfolio .owl-prev {
    top:40% !important;
}

body.stretched #header.full-header .container {
    min-height:80px;
    border-bottom:1px solid #EEE;
}


.noleftpadding {
    padding-left:0px;
}
/*** MEDIA QUERIES ***/
.picture-caption {
    font-style:italic;
    max-width:350px;
    padding:10px;
}

hr {
    border-top:1px solid #7C7C7C;
}


.p-special {
    font-size:20px;
    color:#2F2E30;
    font-weight:300;
    font-family: 'Roboto Condensed', sans-serif;
    line-height:1.5;
}

#oc-slider > div.owl-dots > div > span {
    opacity:1;
    height:14px;
    width:14px;
    border:1px solid #00B5FF;
    background:transparent;
}
#oc-slider > div.owl-dots > div.owl-dot.active > span {

    background-color:#00B5FF;
    height:14px;
    width:14px;
}


.no-shadow-mobile {
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
}

#primary-menu > ul > li > a {
    font-size:20px;
    color:#727779;
}
.fb-wrap {
    position:absolute;
    top:50%;
    transform:translateY(-33%);
}
.right-icon {
    display:none !important;
}
.left-icon {
    left:64% !important;
    color:#FFF !important;
    background:none !important;
    font-size:40px !important;
}
.mobile-background {
    background-image:url("images/mobile-slide.jpg");
    display:none;
}
.button:hover {
    background:#be5e00;
}
.button.background-green:hover {
    background:#A7BB03;
    opacity:.9;
    color:#000;
}

.row.no-insurance {
    display:flex;
}


.specials {
    margin-left:30px;
    margin-right:30px;
}
.portfolio-desc {
    padding:0px;
}
.portfolio-image:hover {
    cursor:pointer;
}

.col-padding {
    display:flex;
    padding-left:100px;
    padding-right:100px;
}
#section-visit {
    background-position-y:75px;
}

.owl-carousel .owl-nav [class*=owl-] {
    opacity:1;
}


#header-wrap > .no-shadow-mobile {
    display:flex;
}
#primary-menu {
    margin-left:auto;
}

#logo {
    align-self:center;
    width:25%;
    height:25%;
}



@media (max-width:1300px) {
    #primary-menu > ul > li > a {
        font-size:16px;
    }
    #primary-menu > ul > li > a {
        padding-left:8px !important;
        padding-right:8px !important;
    }
}

/** MEDIA QUERIES **/
@media (max-width:1100px) {
    .col-padding {
        padding-left:0px;
        padding-right:0px;
    }

    #header-wrap > .no-shadow-mobile {
        padding-left:15px !important;
        padding-right:15px !important;
    }
    #primary-menu > ul > li > a {
        font-size:17px;
    }
    body.stretched #header.full-header .container {
        border-bottom:0px;
    }
    .picture-caption {
        margin:0 auto !important;
    }
    #section-meet-the-team > div > div.row.section-three-row-one > div.col-md-4 {
        text-align:center;
    }
    #header-wrap {
        box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
    }
    #logo {
        width:23%;
        height:23%
    }
}
@media (max-width:991px) {
    .row.no-insurance {
        display:inherit;
    }
    #logo {
        width:45%;
        height:45%;
    }
    #primary-menu > ul > li > a {
        font-size:17px;
    }
    body:not(.top-search-open) #primary-menu-trigger {
        top:50%;
        transform:translateY(-50%);
    }

    .no-shadow-mobile {
        box-shadow:none;
    }
    .col-md-3.no-insurance {
        border-radius:0px 0px 8px 8px;
    }
    .col-md-9.no-insurance {
        border-radius:8px 8px 0px 0px;
    }
    .row-specials {
        padding-left:50px;
        padding-right:50px;
    }
    .fb-wrap {
        text-align:center;
        margin-top:15px;
        position:relative;
        top:0px;
        transform:translateY(0%);
    }

    .col-padding {
        display:inherit;
    }
    #logo {
        display:flex;
    }
    #primary-menu {
        margin-left:0;
    }
}

@media (max-width:892px) {

}

@media (max-width:768px) {
    .mobile-background {
        display:block;
    }
    #slider {
        display:none;
    }
    body:not(.top-search-open) #header-wrap #logo {
        align-self:auto !important;
        margin-top:2% !important;
    }

}
@media (max-width:767px) {
    .mobile-center {
        text-align:center !important;
    }
    #logo {
        width:70%;
        height:70%;
    }

}

@media (max-width:500px) {
    #section-summer-specials > div.container-fluid > div {
        padding:0px;
    }
    .mobile-font-30 {
        font-size:30px;
    }
    .row-specials {
        padding-left:0px;
        padding-right:0px;
    }
    #section-outstanding-care > div > div.center.bottommargin > h3 {
        font-size:45px;
    }
    .btn {
        font-size:16px;
        padding-left:10px;
        padding-right:10px;
    }
    div.modal-body.team__modal-pic > img {
        max-width:75%;
    }
    #logo {
        width:70%;
        height:70%;
    }
    body:not(.top-search-open) #header-wrap #logo {
        margin-top:8% !important;
    }

@media (max-width:450px) {
    h3 {
        font-size:40px;
    }
    .mobile-margin-top {
        margin-top:15px;
    }
}
